.about {
  display: flex;
  column-gap: 85px;

  padding-top: 120px;
  padding-bottom: 235px;

  @include vp-1200() {
    flex-direction: column;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 185px;
  }

  @include vp-767() {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 25px;

    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;

    color: $color-default-black;

    @include vp-1200() {
      text-align: center;
    }

    @include vp-767() {
      text-align: left;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  h3 {
    @include vp-1200() {
      text-align: center;
    }

    @include vp-767() {
      text-align: left;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  p {
    @include vp-1200() {
      text-align: center;
    }

    @include vp-767() {
      text-align: left;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.about__image {
  margin: 0;
  padding: 0;

  width: 100%;
  height: auto;
  object-fit: cover;

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.about p[data-about="second-p"] {
  @include vp-1200 {
    display: none;
  }
}

.about__info-wrapper {
  max-width: 360px;

  @include vp-1200() {
    max-width: none;
  }
}

.about__media-wrapper {
  position: relative;
}

.about__media-player-wrapper {
  width: 364px;
  height: 228px;

  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: -63px;

  @include vp-1200 {
    transform: translateY(-50%) translateX(-50%);
    left: 50%;

    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    left: 0;
    position: relative;
    transform: none;

    width: 100%;
    height: auto;
  }

  iframe {
    width: 364px;
    height: 228px;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border: none;

    @include vp-1200 {
      width: 266px;
      height: 167px;
    }

    @include vp-767 {
      width: 100%;
      height: 100%;
    }
  }
}

.about__media-button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  opacity: 1;
  width: 100px;
  height: 100px;
}

.about__player-image {
  margin: 0;
  padding: 0;

  width: 100%;
  height: auto;
  object-fit: cover;
}
