.advantages {
  padding-top: 95px;
  padding-bottom: 140px;
  background-color: $color-background-grey;

  h2 {
    @include header-2;
    text-align: center;
  }
}

.advantages__container {
  @include vp-767() {
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__item {
  dt {
    @include advantage-header;
  }
}

.advantages__list {
  margin: 0 5%;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 32% auto 32%;
  justify-content: space-between;
  grid-template-rows: repeat(2, 1fr) auto;
  column-gap: 6%;
  justify-self: center;

  @include vp-1200() {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto 1fr;
    row-gap: 0;
  }

  @include vp-767() {
    display: flex;
    flex-direction: column;
  }
}

.advantages__item[data-advantages="featured"] {
  grid-column: 2/3;
  grid-row: 1/-1;
  padding: 65px 35px;
  margin: auto 0;
  height: 100%;

  display: flex;
  background-color: $color-default-black;
  color: $color-default-white;

  dl {
    align-self: center;
    margin: auto 0;
  }

  dt {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    color: $color-default-white;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    span {
      font-size: 74px;
      line-height: 74px;
    }
  }

  dd {
    margin: 0;
    padding: 0;
    color: $color-default-white;
    max-width: 180px;
    text-align: center;
  }

  @include vp-1200() {
    grid-column: 1/-1;
    grid-row: 2/3;
    flex-direction: column;
    justify-self: center;
    width: 65%;
    max-width: 440px;
  }

  @include vp-767 {
    padding: 50px;
    max-width: none;
    width: 100%;
    order: 3;
  }
}

.advantages__item[data-advantages="regular"] {
  padding: 80px 0;
  width: 100%;
  display: flex;
  column-gap: 30px;

  dl[data-points="points"] {
    margin: 0;

    dt {
      @include advantage-header;
      margin: 0;
      padding: 0;
      font-weight: 700;
      font-size: 71px;
      line-height: 71px;
      text-align: center;
      /* stylelint-disable */
      background: -webkit-linear-gradient(
        92.51deg,
        #d10a42 30%,
        #0041ca 87.33%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      /* stylelint-enable */
    }

    dd {
      @include text;
      font-size: 16px;
      line-height: 22px;
      margin: 0;
      padding: 0;
      text-align: center;
      /* stylelint-disable */
      background: -webkit-linear-gradient(
        92.51deg,
        #d10a42 30%,
        #0041ca 87.33%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      /* stylelint-enable */
    }
  }

  dl[data-points="description"] {
    margin: 0;

    dt {
      width: auto;
      margin: 0 0 20px;
      padding: 0;

      @include advantage-header;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
    }

    dd {
      max-width: 240px;
      width: auto;
      margin: 0;
      padding: 0;

      @include text;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  &:nth-of-type(1) {
    padding-bottom: 85px;
    padding-top: 0;
    border-bottom: 2px solid $color-crimson-opac;
  }

  &:nth-of-type(2) {
    padding-top: 0;
    padding-bottom: 85px;
    border-bottom: 2px solid $color-crimson-opac;
  }

  &:nth-of-type(3) {
    padding-top: 85px;
    padding-bottom: 0;
  }

  &:nth-of-type(4) {
    padding-top: 85px;
    padding-bottom: 0;
  }

  @include vp-1200 {
    padding: 50px;
    flex-direction: column;
    align-items: center;

    &:nth-of-type(1) {
      order: 1;
      border-bottom: none;
    }

    &:nth-of-type(2) {
      order: 2;
      border-bottom: none;
    }

    &:nth-of-type(3) {
      order: 4;
    }

    &:nth-of-type(4) {
      order: 5;
    }
  }
}
