.advantages {
  background-color: $color-background-grey;
  h2 {
    @include header-2;
    text-align: center;
  }
}

.advantages__item {


  dt {
    @include advantage-header;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
}

.advantages__item[data-advantages="featured"] {
  grid-column: 2/3;
  grid-row: 1/-1;

  max-width: 240px;

  padding: 65px 35px;

  dt {

  }

  span {

  }

  dd {

  }
}


.advantages__item[data-advantages="regular"] {
  max-width: 340px;
  padding: 0 0 85px 20px;
}
