.contact-us {
  background: linear-gradient(
    90deg,
    $color-default-black 50%,
    $color-default-white 50%
  );

  @include vp-1200() {
    background: linear-gradient(
      180deg,
      $color-default-black 50%,
      $color-default-white 50%
    );

    @include vp-767 {
      background: none;
    }
  }

  .contact-us__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include vp-1200() {
      display: flex;
      flex-direction: column;
    }
  }

  .contact-us__form {
    padding-top: 55px;
    padding-bottom: 60px;
    margin-right: auto;
    max-width: 410px;

    @include vp-1200 {
      padding-left: 88px;
      padding-right: 88px;
      max-width: none;
      width: 100%;
    }

    @include vp-767 {
      padding: 0;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: -15px;
        width: calc(100% + 30px);
        height: 100%;
        z-index: -1;
        background-color: $color-default-black;
      }
    }

    h2 {
      margin-top: 0;
      margin-bottom: 25px;

      font-family: $ff-alumni;
      font-weight: 800;
      font-size: 54px;
      line-height: 82px;

      color: $color-default-white;

      @include vp-767 {
        margin-top: 70px;
      }
    }

    form {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 30px;
      column-gap: 30px;

      @include vp-767 {
        row-gap: 40px;
        margin-bottom: 70px;
      }
    }

    label {
      width: 100%;
      color: $color-default-white;
      font-size: 0;

      .input-message {
        font-size: 14px;
      }
    }

    input {
      width: 100%;
      border: none;
      font-size: 14px;
      border-bottom: 1px solid $color-slate-grey;
      background-color: transparent;
      color: $color-default-white;
    }

    button {
      grid-column: 1/-1;
      padding: 20px;
    }

    @include vp-1200() {
      align-self: start;
      margin: 0;
    }
  }

  .contact-us__info {
    padding-top: 55px;
    padding-bottom: 70px;

    margin-left: 120px;

    @include vp-1200() {
      padding: 70px 40px;
      margin: 0;
    }

    @include vp-767 {
      padding: 0;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;

      font-family: $ff-alumni;
      font-weight: 600;
      font-size: 54px;
      line-height: 65px;

      color: $color-default-black;

      @include vp-1200 {
        padding-left: 48px;
      }

      @include vp-767 {
        padding: 0;
        margin-top: 70px;
        margin-bottom: 50px;
      }
    }

    .contact-us__info-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      grid-template-rows: repeat(4, auto);
      grid-auto-flow: column;

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        background-color: $color-default-black;
        height: 100%;

        top: 0;
        left: 260px;

        @include vp-1200 {
          left: 50%;
        }

        @include vp-767 {
          display: none;
        }
      }

      @include vp-1200 {
        padding-left: 48px;
        padding-right: 48px;
      }

      @include vp-767 {
        display: flex;
        flex-direction: column;

        margin: 0;
        padding-left: 0;
        padding-right: 0;
      }

      dt {
        max-width: 200px;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;

        @include vp-767 {
          margin-bottom: 15px;
        }
      }

      dd {
        max-width: 200px;
        margin: 0 0 30px;

        @include vp-1200 {
          min-width: 200px;
          max-width: 230px;
        }

        &:nth-last-of-type(odd) {
          margin: 0;
        }

        @include vp-767 {
          &:nth-last-of-type(odd) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
