.contact-us {
  background: linear-gradient(90deg, $color-default-black 50%, $color-default-white 50%);

  @include vp-1200() {
    background: linear-gradient(180deg, $color-default-black 53%, $color-default-white 40%);
  }
}

.contact-us__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1200() {
    display: flex;
    flex-direction: column;
  }
}

.contact-us__form {
  padding: 55px 88px 60px;
  margin-right: auto;

  h2 {
    @include form-header;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
    column-gap: 30px;

    @include vp-767 {
      row-gap: 40px;
    }
  }
  label {
    width: 100%;
    color: $color-default-white;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-slate-grey;
    background-color: transparent;
    color: $color-default-white;
  }

  button {
    grid-column: 1/-1;
    padding: 20px;
  }

  @include vp-1200() {
    align-self: start;
    margin: 0;
  }
}

.contact-us__info {
  padding-top: 55px;
  padding-bottom: 70px;

  margin-left: 120px;

  @include vp-1200() {
    padding: 70px 88px;
    margin: 0;
  }
  h2 {
    @include contact-header;
  }


}

.contact-us__info-wrapper {
  display: flex;
  justify-content: space-between;

  dl {
    &:nth-child(1) {
      border-right: 1px solid $color-default-black;
      padding-right: 60px;
    }
  }

  dt {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  dd {
    margin:0;
  }
}
