.event {
  display: grid;
  padding-top: 120px;
  padding-bottom: 70px;
  grid-template-columns: repeat(2, auto);

  @include vp-1200() {
    padding-top: 100px;
    padding-bottom: 65px;
  }

  @include vp-767() {
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    @include event-header;

    max-width: 200px;
  }

  img {
    grid-column: 2/-1;
    background-color: $color-midnight-blue;
    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}

.event__info-wrapper {
  width: 100%;

  padding: 85px 78px;
  display: block;
  background-color: $color-background-red;
  grid-column: 1/1;

  @include vp-1200() {
    padding: 51px 45px;
  }
}

