.footer {
  background-color: $color-default-black;
}

.footer__container {
  display: flex;
  justify-content: space-between;

  padding-top: 40px;
  padding-bottom: 20px;

  @include vp-1200 {
    padding-bottom: 30px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 45px;
    flex-direction: column;
  }
}

.footer__navigation-list {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  max-width: 500px;

  @include vp-1200 {
    margin-left: 10px;
    max-width: 400px;
    column-gap: 30px;
  }

  @include vp-767() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 35px;
    row-gap: 20px;
  }
}

.footer__navigation-item {
  display: flex;
  padding: 0;
  max-height: 30px;
}

.footer__navigation-item--logo {
  display: none;

  @include vp-767() {
    display: block;
    width: 68px;
    height: 15px;

    @include hover-focus {
      opacity: 0.8;
      transition: opacity, 6ms, ease-in;
    }
  }
}

.footer__logo-link {
  margin-top: 5px;
  width: 88px;
  height: 32px;
  align-self: center;

  @include vp-1200 {
    width: 80px;
    height: 18px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  @include hover-focus {
    opacity: 0.8;
    transition: opacity, 6ms, ease-in;
  }

  @include vp-767() {
    display: none;
  }
}

.footer__navigation-link {
  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-default-white;

  @include vp-1200 {
    letter-spacing: 1.1 px;
  }
  @include hover() {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }

  @include vp-767() {
    line-height: 19px;
  }
}

.footer__social-list {
  margin: auto 0;
  padding: 0;
  list-style: none;

  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.footer__social-link {
  @include hover-focus {
    opacity: 0.8;
    transition: opacity, 6ms, ease-in;
  }
}
