@import "../mixins";

.intro {
  display: block;
  padding-top: 180px;

  background: conic-gradient(
    from 150.87deg at 16.03% 39.06%,
    #b80027 -46.69deg,
    #003d85 32.24deg,
    #b80027 313.31deg,
    #003d85 392.24deg
  );

  min-height: 658px;


  h2 {
    @include header-alumni;
    max-width: 300px;
    text-align: right;
  }

  span {
    @include header-2-white;
    max-width: 133px;

    grid-column: 1/-1;
    justify-self: end;
  }

  img {
    @include vp-767() {
      display: none;
    }
  }
}

.intro__container {
  display: flex;
  column-gap: 65px;

  @include vp-1200() {
    column-gap: 30px;
    justify-content: space-between;
  }


}

.intro__info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);

  @include vp-767() {
    width: 100%;
    grid-template-columns: repeat(2, auto);
  }
}

.intro__services-list {
  margin: 0;
  padding: 0;
  list-style: none;


  width: 115px;
  word-wrap: normal;
  align-self: end;

  li {
    @include white-text;
    font-size: 14px;
    line-height: 21px;
  }
}

.intro__button {
  grid-column: 1/-1;
  justify-self: end;
  min-width: 230px;
}
