@import "../mixins";

.intro {
  position: relative;
  display: block;
  top: -80px;

  padding-top: 180px;

  background: conic-gradient(
    from 150.87deg at 16.03% 39.06%,
    #b80027 -46.69deg,
    #003d85 32.24deg,
    #b80027 313.31deg,
    #003d85 392.24deg
  );

  min-height: 658px;


  h2 {
    @include header-alumni;
  }

  span {
    @include header-2-white;
  }
}


.intro__services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

