@import "../mixins";

.intro {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;

  background: conic-gradient(
    from 150.87deg at 16.03% 39.06%,
    #b80027 -46.69deg,
    #003d85 32.24deg,
    #b80027 313.31deg,
    #003d85 392.24deg
  );

  min-height: 658px;

  @include vp-1200 {
    min-height: 555px;
    padding-top: 20px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    min-height: 480px;
  }

  img {
    width: 100%;
    height: auto;

    @include vp-1200 {
      margin-top: 60px;
    }

    @include vp-767() {
      display: none;
    }
  }
}

.intro__container {
  display: flex;
  column-gap: 60px;

  @include vp-1200() {
    column-gap: 25px;
    justify-content: space-between;
  }

  @include vp-767 {
    display: block;
    column-gap: 0;
  }
}

.intro__info-wrapper {
  position: relative;
  margin-top: 115px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, min-content);
  max-width: 400px;

  @include vp-1200 {
    max-width: none;
    min-width: 330px;
  }

  @include vp-767() {
    min-width: 290px;
    margin-top: 92px;

    // display: flex;
    // flex-direction: column;
  }

  h2 {
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 50px;
    margin-right: 10px;

    font-family: $ff-alumni;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-size: 98px;
    line-height: 110px;
    text-transform: uppercase;

    color: $color-default-white;
    max-width: 300px;
    text-align: right;

    @include vp-1200 {
      margin: 2px 10px 33px 0;
      line-height: 90px;

      font-size: 72px;
      font-weight: 900;
      text-transform: none;
      letter-spacing: 1.5px;
    }

    @include vp-767 {
      letter-spacing: 2.2px;
      line-height: 86px;
      font-size: 72px;
      margin: 15px 0 23px;

      position: relative;
      left: -22px;
      top: -20px;
    }
  }

  h3 {
    margin: 0 50px 0 0;

    font-family: $ff-alumni;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 1.2px;
    line-height: 58px;

    color: $color-default-white;
    text-transform: uppercase;
    max-width: 133px;

    grid-column: 2/-1;
    justify-self: end;
    align-self: flex-end;

    @include vp-1200 {
      margin: 0 13px 0 0;
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
    }

    @include vp-767 {
      justify-self: left;

      font-size: 26px;
      line-height: 28px;
      margin: 0;

      position: relative;
      top: 0;
      left: 0;
      text-align: right;

      width: 100%;
      max-width: 300px;
      position: relative;
      left: -22px;
    }
  }
}

.intro__services-list {
  margin: 50px 0 0 20px;
  padding: 0;
  list-style: none;

  width: 115px;
  word-wrap: normal;
  align-self: center;
  text-align: right;

  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: end;

  li {
    font-family: $ff-roboto;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $color-default-white;
  }

  @include vp-1200 {
    margin: 50px 0 10px 0;
  }

  @include vp-767 {
    margin: 0;
    // position: absolute;
    left: 0;
    // top: 40%;
  }
}

.intro__button {
  grid-column: 1/-1;
  justify-self: end;
  width: 100%;
  justify-content: center;
  padding: 15px 0;
  max-width: 235px;

  @include vp-1200 {
    max-width: 190px;
  }

  @include vp-767 {
    max-width: none;
  }
}
