.navigation {
  position: absolute;
  z-index: 3;

  width: 100%;
}

.navigation__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}


.navigation__link {
  font-family: $ff-roboto;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: $color-default-white;

  @include hover() {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}

.navigation__logo-link {
  @include hover-focus {
    opacity: 0.8;
    transition: opacity, 6ms, ease-in;
  }
}
