.navigation {
  position: absolute;
  z-index: 3;

  width: 100%;
}

.navigation__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}


.navigation__link {
  @include white-link;
}
