.reviews {
  padding-top: 40px;
  padding-bottom: 120px;

  @include vp-1200 {
    padding-top: 35px;
    padding-bottom: 100px;
  }

  h2 {
    margin: 3px 0 37px 5px;

    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 1.2px;

    color: $color-default-black;
    text-align: center;

    @include vp-1200 {
      margin: 0 0 40px 0;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.5px;
    }
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.reviews__item {
  padding: 55px;
  background-color: $color-resolution-blue;

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, max-content);
  column-gap: 28px;

  @include vp-1200() {
    padding: 55px;
  }

  @include vp-767() {
    padding: 41px 25px;
  }

  picture {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  img {
    margin: 10px 0 0 10px;
  }

  h3 {
    margin: 0 0 15px;

    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: $color-default-white;

    grid-column: 3/-1;
    grid-row: 1/2;
  }

  p {
    margin: 0;

    font-family: $ff-roboto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $color-default-white;

    grid-column: 3/-1;
    grid-row: 2/-1;
  }
}

.reviews__swiper-wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.reviews__left-button {
  left: 0;
}

.reviews__right-button {
  left: calc(100% - 20px);
}
