.reviews {
  h2 {
    @include header-2;
    text-align: center;
  }
}

.reviews__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  display: flex;
}

.reviews__item {
  background-color: $color-default-black;
  max-width: 560px;
}
