.tarifs {
  h2 {
    @include header-2;
    text-align: center;
  }
}

.tarifs__duration-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  display: flex;
  max-width: fit-content;
  column-gap: 46px;
}

.tarifs__variants-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
