.trainers {

  padding-top: 35px;
  padding-bottom: 140px;
  h2 {
    @include header-2;
  }
}

.trainers__swiper-container {
  display: flex;
}

.trainers__card {
  text-align: left;
  h3 {
    @include card-header;
  }
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
