// Colors
// ---------------------------------

// Default

$color-default-black: #102654;
$color-default-white: #ffffff;
$color-default-grey: #e8e8e8;
$color-background-grey: #f8f9fc;
$color-transparent: rgba(255, 255, 255, 0);
$color-background-red: #ed0233;
$color-transparent-grey: #787878;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-egyptian-blue: #103aae;
$color-resolution-blue: #1c3374;
$color-midnight-blue: #00014e;
$color-spindle: #b6bdcc;
$color-crimson: #d10a42;
$color-slate-grey: #74819c;
$color-crimson-opac: rgba(209, 10, 66, 0.2);

// Gradient

$conic-gradient: conic-gradient(
  from 150.87deg at 16.03% 39.06%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);

$border-gradient: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
$button-background-gradient: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;

$ff-alumni: "Alumni Sans", helvetica, sans-serif;
$ff-roboto: "Roboto", arial, sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1200: 1200px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
